
/*General Styles */
body {
    margin: 0;
    background-color: #333;
    
}

/* Header */
header{
    background-color: #333;
    color: white;
    text-align: center;  
    min-height: 70px;   
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

main {
    background-color: rgb(214, 217, 218);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: column;
}

/* Game container*/
.game-container {
    position: relative;
    min-height: 80vh; 
    background-color: gray;
    box-sizing: border-box; 
    padding: 20px;
    width: 100%; 
    max-width: 1500px;
    justify-content: space-evenly;
    margin:0 auto;
}

.background-image {
    background-size: 150vh;
    background-repeat: no-repeat;
    background-position: 50%;
}

.monster-image {
    position: absolute;
    bottom: 10%;
    left: 50px; 
    width: 80%; 
    max-width: 300px; 
    height: auto;
    z-index: 2; 
}

/* Hero and Monster styles */
.character-info,
.monster-info {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    text-align: center;     
}

.character-info {
    top: 0;
    left: 0;
}

.monster-info {
    top: 0;
    right: 0;
}

.name{    
    background-color: #5cb85c;
    padding: 5px;
    border: 5px solid #745858;
    border-radius: 20%;
    text-align: center;
    font: caption;  
}

.life-bar {
    background-color: #5cb85c;
    padding: 5px;
    border: 5px solid #745858;
    border-radius: 30%;
}

.stats {
    margin-top: 10px;
    color:white;
    font-style:normal;
}

/* Select level */
#selectlevel {
    position: absolute;
    bottom: 100px;
    left: 0;
    font-size: small;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px; 
    z-index: 0;   
  }
#selectlevel img {
    height: 8vh;
  }

/* Button Styles */
.button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;    
}

.act-button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-align: center;
}
.button {    
    color: white;
    padding: 10px;
    border:brown;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
    margin: 4px 2px;
    cursor: pointer;
  }

.button img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 80px;
  }
/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    max-height: auto;
}

#social-networks {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 250%;
    width: 100%;
    line-height: 1;
    margin:0;
}

.fa-square-instagram{
    color: #e12375;
}
.fa-square-facebook{
    color: #0c5eeb;
}
.fa-square-whatsapp{
    color: #1fad70;
}