
/*General Styles */
body {
    margin: 0;
}

/* Header */
header{
    background-color: #333;
    color: white;
    text-align: center;  
    min-height: 70px;   
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.game-container {
    position: relative;
    min-height: 60vh; 
    background-color: gray;
    box-sizing: border-box; 
    padding: 20px; 
}

.character-info,
.monster-info {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.character-info {
    top: 0;
    left: 0;
}

.monster-info {
    top: 0;
    right: 0;
}

.life-bar {
    background-color: #5cb85c;
    padding: 5px;
}

.stats {
    margin-top: 10px;
}

.button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.button,
.act-button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    max-height: 50px;
}